.birth-year {}

.birth-year__input-thumb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 575px;
    margin: 0 auto;
}

.birth-year__form {
    filter: drop-shadow(3px 3px 0px rgba(0, 0, 0, 0.25));

    display: flex;
    width: 215px;
    height: 35px;

}

.birth-year__input {
    padding-left: 10px;
    border: none;
    border-radius: 20px 0px 0px 20px;
    background-color: #D7D7D7;

    width: 100%;
    height: 100%;
}

.birth-year__input::placeholder {
    color: #7E7E7E;
    font-family: "Montserrat Alternates";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.birth-year__button {
    padding: 10px;
    border-radius: 0px 20px 20px 0px;
    background-color: #000;
}

.birth-year__button__icon {}

.birth-year__text {
    text-align: right;
}