.football {}

.football__thumb {}

.football__field {

    width: 640px;
    height: 406px;
    background-image: url('/img/football-field.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    margin: 0 auto;

    border-radius: 20px;
}

.football__ball {
    position: relative;
    top: 185px;
    left: 300px;
}

.rotating {
    transform: rotate(360deg);
    transition: 1s;
}