.header {
  color: var(--secondary-color);
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 21px 0;
}

.header .container {
  display: flex;
  align-items: center;
}

.logo {
  width: 93px;
  height: 38px;
  margin-right: 80px;
}

.nav {
  margin-right: 360px;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 50px;
}

.nav__item {}

.nav__link {}

.nav__item:first-child {
  position: relative;
}

.nav__item:first-child:hover .submenu {
  display: block;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;

  width: 100%;

  border: 1px solid #000;
  border-top: none;
  border-radius: 0px 0px 20px 20px;
  /* padding: 10px 40px; */
}

.submenu__item {}

.submenu__link {}

.switch-dark {
  width: 40px;
  height: 20px;
  background-color: gray;
  margin-right: 50px;
  cursor: pointer;
}

.header__congrats {}