.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);

    transition: opacity 350ms linear;
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}


.wellcome-window {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 576px;
    height: 316px;
    border-radius: 20px;
    background-color: #FFF;
    padding: 46px 41px;
    transition: transform 350ms linear;
}

.wellcome-window__close-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    border: none;
    background-color: transparent;

    display: flex;
    align-items: center;
    justify-content: center;
}

.wellcome-window__close-icon {
    width: 25px;
    height: 25px;
    fill: #000;
}

.wellcome-window__text {
    color: #000;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 42px;
}

.wellcome-window__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}

.wellcome-window__label {
    color: #000;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.wellcome-window__input {
    width: 169px;
    height: 35px;
    color: #7E7E7E;
    background-color: #D7D7D7;
    font-family: "Montserrat Alternates";
    font-size: 12px;
    font-weight: 400;
    padding: 10px;
    border-radius: 20px;
    border: none;
}

.wellcome-window__button {
    color: #FFF;
    font-family: "Montserrat Alternates";
    font-size: 12px;
    font-weight: 400;
    border-radius: 20px;
    background-color: #000;
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
    padding: 10px 20px;
    transition: all 350ms linear;
}

.wellcome-window__button:hover,
.wellcome-window__button:focus {
    color: #000;
    background-color: #D9D9D9;
    box-shadow: none;
}

.wellcome-window__img {
    position: absolute;
    width: 30px;
    height: 30px;
}

.w-sword {
    top: 154px;
    left: 41px;
}

.w-game {
    top: 154px;
    right: 41px;
}

.w-puzzle {
    bottom: 56px;
    left: 85px;
}

.w-tic-tac-toe {
    bottom: 56px;
    right: 85px;
}