<section class="dinosaur">
  <div class="line"></div>
  <h2 class="section__title">Google динозавр</h2>
  <div class="dinosaur__container">
    <div class="dinosaur__overlay">
      <p class="dinosaur__results"></p>
      <div class="game-over__thumb">
        <p>Game Over!</p>
        <p class="dinosaur__points">Points:</p>
        <button class="try-again__btn">Try again</button>
      </div>
    </div>
    <img class="dinosaur__player" src="/img/dinosaur/dinosaur.png" alt="" />
    <img class="dinosaur__cactus" src="/img/dinosaur/cactus.png" alt="" />
  </div>
  <button class="dinosaur__start-btn" id="dinosaur__start-btn">Start!</button>
</section>
