<section class="dinosaur">
  <div class="line"></div>
  <h2 class="section__title">Google динозавр</h2>
  <div class="dinosaur__container">
    <div class="dinosaur__overlay">
      <p class="dinosaur__score" id="score">0</p>
      <div class="game-over__thumb" id="loose">
        <p>Game Over!</p>
        <p class="dinosaur__points">Points:</p>
        <button class="try-again__btn" id="try-again__btn">Try again</button>
      </div>

      <img
        class="dinosaur__player"
        src="img/dinosaur/dino-stationary.png"
        alt="dinosaur"
        id="dinosaur"
      />
      <img src="img/dinosaur/ground.png" class="dinosaur__ground" data-ground />
      <img src="img/dinosaur/ground.png" class="dinosaur__ground" data-ground />
    </div>
  </div>
  <button class="dinosaur__start-btn" id="dinosaur__start-btn">Start!</button>
</section>
