<section class="guess-number">
  <div class="line"></div>
  <h2 class="section__title">Вгадай число, яке загадав комп’ютер</h2>
  <div class="guess-number__input-thumb">
    <form class="guess-number__form">
      <input
        class="guess-number__input"
        type="text"
        pattern="^[ 0-9]+$"
        placeholder="Введіть число"
        title="Введіть число"
      />
      <button class="guess-number__button">
        <svg class="guess-number__button__icon" width="15" height="15">
          <use href="/img/icons/symbol-defs.svg#icon-loupe"></use>
        </svg>
      </button>
    </form>
    <p class="guess-number__text">Lorem, ipsum dolor.</p>
  </div>
</section>
