<header class="header">
  <div class="container">
    <a href="#" class="logo__link">
      <svg class="logo__icon">
        <use href="/img/icons/symbol-defs.svg#icon-logo"></use>
      </svg>
    </a>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="" class="nav__link"
            >Інтерактив
            <svg class="nav__link__icon">
              <use href="/img/icons/symbol-defs.svg#icon-header-arrow"></use>
            </svg>
          </a>
          <ul class="submenu">
            <li class="submenu__item">
              <a href="" class="submenu__link">Числовий</a>
            </li>
            <li class="submenu__item">
              <a href="" class="submenu__link">Ігровий</a>
            </li>
            <li class="submenu__item">
              <a href="" class="submenu__link">Ознайомчий</a>
            </li>
          </ul>
        </li>
        <li class="nav__item">
          <a href="" class="nav__link">Наша команда</a>
        </li>
        <li class="nav__item">
          <a href="" class="nav__link">Контакти</a>
        </li>
      </ul>
    </nav>
    <img
      class="switch-dark__icon"
      id="icon"
      src="/favicon.svg"
      alt=""
      width="25"
    />
    <p class="header__congrats">Вітаємо, User!</p>
  </div>
</header>
