<header class="header">
  <div class="container">
    <a href="#" class="logo__link">
      <svg class="logo__icon">
        <use href="/img/icons/symbol-defs.svg#icon-logo"></use>
      </svg>
    </a>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="" class="nav__link"
            >Інтерактив
            <svg class="nav__link__icon">
              <use href="/img/icons/symbol-defs.svg#icon-header-arrow"></use>
            </svg>
          </a>
          <ul class="submenu" id="submenu__filter-list">
            <li class="submenu__item" id="numerical">Числовий</li>
            <li class="submenu__item" id="game">Ігровий</li>
            <li class="submenu__item" id="acquaintance">Ознайомчий</li>
          </ul>
        </li>
        <li class="nav__item">
          <a href="" class="nav__link">Наша команда</a>
        </li>
        <li class="nav__item">
          <a href="" class="nav__link">Контакти</a>
        </li>
      </ul>
    </nav>
    <img
      class="switch-dark__icon"
      id="icon"
      src="/img/icons/light-theme-icon.svg"
      alt=""
    />
    <p class="header__congrats">
      Вітаємо, <span class="user__name">User</span>!
    </p>
  </div>
</header>
