<header class="header">
  <div class="container">
    <a href="#" class="logo">
      <img src="/img/logo.png" alt="logo" />
    </a>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="" class="nav__link">Інтерактив</a>
        </li>
        <li class="nav__item">
          <a href="" class="nav__link">Наша команда</a>
        </li>
        <li class="nav__item">
          <a href="" class="nav__link">Контакти</a>
        </li>
      </ul>
    </nav>
    <div class="switch-dark"></div>
    <p class="header__congrats">Вітаємо, User!</p>
  </div>
</header>
