<section class="p-r-s">
  <div class="line"></div>
  <h2 class="section__title">Камінь - ножиці - папір</h2>

  <div class="p-r-s__thumb">
    <ul class="p-r-s__icons-list">
      <li class="p-r-s__icons-item">
        <button class="p-r-s__icons-btn" type="button">
          <img
            src="/img/icons/stone.svg"
            alt="stone"
            class="p-r-s__icons-img"
          />
        </button>
      </li>
      <li class="p-r-s__icons-item">
        <button class="p-r-s__icons-btn" type="button">
          <img
            src="/img/icons/scissors.svg"
            alt="scissors"
            class="p-r-s__icons-img"
          />
        </button>
      </li>
      <li class="p-r-s__icons-item">
        <button class="p-r-s__icons-btn" type="button">
          <img
            src="/img/icons/paper.svg"
            alt="paper"
            class="p-r-s__icons-img"
          />
        </button>
      </li>
    </ul>

    <div class="p-r-s__result-thumb">
      <p class="p-r-s__result-title">Рахунок:</p>
      <p class="p-r-s__result-comp">Комп’ютер - 0</p>
      <p class="p-r-s__result-user">Ви - 0</p>
    </div>
  </div>

  <p class="p-r-s__winner">Ви виграли раунд!</p>
  <div class="p-r-s__comp-choice"></div>
</section>
