<section class="p-r-s">
  <div class="line"></div>
  <h2 class="section__title">Камінь - ножиці - папір</h2>

  <div class="p-r-s__thumb">
    <ul class="p-r-s__icons-list" id="buttons-list">
      <li class="p-r-s__icons-item">
        <button class="p-r-s__icons-btn" type="button">
          <img
            src="/img/icons/stone.svg"
            alt="stone"
            class="p-r-s__icons-img"
            id="stone"
          />
        </button>
      </li>
      <li class="p-r-s__icons-item">
        <button class="p-r-s__icons-btn" type="button">
          <img
            src="/img/icons/scissors.svg"
            alt="scissors"
            class="p-r-s__icons-img"
            id="scissors"
          />
        </button>
      </li>
      <li class="p-r-s__icons-item">
        <button class="p-r-s__icons-btn" type="button">
          <img
            src="/img/icons/paper.svg"
            alt="paper"
            class="p-r-s__icons-img"
            id="paper"
          />
        </button>
      </li>
    </ul>

    <div class="p-r-s__result-thumb">
      <p class="p-r-s__result-title">Рахунок:</p>
      <p class="p-r-s__result-comp">
        Комп’ютер - <span id="comp-result"></span>
      </p>
      <p class="p-r-s__result-user">Ви - <span id="user-result"></span></p>
    </div>
  </div>

  <p class="p-r-s__winner" id="winner-text">Зроби вибір</p>
  <div class="p-r-s__comp-choice" id="comp-choice"></div>
</section>
