<section class="scientist" data-category="acquaintance">
  <div class="line"></div>
  <h2 class="section__title">Обери вченого/их</h2>
  <ul class="scientist__list" id="scientist-gallery"></ul>
  <ul class="scientist__button__list" id="scientist__filter-list">
    <li class="scientist__button__item">
      <button class="scientist__button" type="button" id="1">
        Які вчені народилися в 19 ст.
      </button>
    </li>
    <li class="scientist__button__item">
      <button class="scientist__button" type="button" id="2">
        Знайти рік народження Albert Einshtein
      </button>
    </li>
    <li class="scientist__button__item">
      <button class="scientist__button" type="button" id="3">
        Відсортувати вчених за алфавітом
      </button>
    </li>
    <li class="scientist__button__item">
      <button class="scientist__button" type="button" id="4">
        Знайти вчених, прізвища яких починаються на на літеру “С”
      </button>
    </li>
    <li class="scientist__button__item">
      <button class="scientist__button" type="button" id="5">
        Відсортувати вчених за кількістю прожитих років
      </button>
    </li>
    <li class="scientist__button__item">
      <button class="scientist__button" type="button" id="6">
        Видалити всіх вчених, ім’я яких починається на “А”
      </button>
    </li>
    <li class="scientist__button__item">
      <button class="scientist__button" type="button" id="7">
        Знайти вченого, який народився найпізніше
      </button>
    </li>
    <li class="scientist__button__item">
      <button class="scientist__button" type="button" id="8">
        Знайти вченого, який прожив найдовше і вченого, <br />
        який прожив найменше
      </button>
    </li>
    <li class="scientist__button__item">
      <button class="scientist__button" type="button" id="9">
        Знайти вчених, в яких співпадають перші літери імені і прізвища
      </button>
    </li>
  </ul>
</section>
