<div class="thanks-window">
  <button class="thanks-window__close-btn">
    <svg class="thanks-window__close-icon">
      <use href="/img/icons/symbol-defs.svg#icon-close"></use>
    </svg>
  </button>
  <p class="thanks-window__text">Дякую за підписку!</p>
  <img
    src="/img/wellcome-window/sword.png"
    alt="sword"
    class="thanks-window__img sword"
  />
  <img
    src="/img/wellcome-window/game.png"
    alt="game"
    class="thanks-window__img game"
  />
  <img
    src="/img/wellcome-window/puzzle.png"
    alt="puzzle"
    class="thanks-window__img puzzle"
  />
  <img
    src="/img/wellcome-window/tic-tac-toe.png"
    alt="tic-tac-toe"
    class="thanks-window__img tic-tac-toe"
  />
</div>
