<section class="three-numbers">
  <div class="line"></div>
  <h2 class="section__title">Введіть 3 числа</h2>
  <ul class="three-numbers__list">
    <li class="three-numbers__item">
      <input
        type="number"
        class="three-numbers__input"
        pattern="^[ 0-9]+$"
        placeholder="Введіть число"
        title="Введіть число"
        data-min-length="1"
      />
    </li>
    <li class="three-numbers__item">
      <input
        type="text"
        class="three-numbers__input"
        pattern="^[ 0-9]+$"
        placeholder="Введіть число"
        title="Введіть число"
      />
    </li>
    <li class="three-numbers__item">
      <input
        type="text"
        class="three-numbers__input"
        pattern="^[ 0-9]+$"
        placeholder="Введіть число"
        title="Введіть число"
      />
    </li>
  </ul>
  <p class="three-numbers__result-text">
    Найбільше число, яке ви ввели - (число)
  </p>
</section>
