<section class="time-calculator">
  <div class="line"></div>
  <h2 class="section__title">Калькулятор часу</h2>
  <div class="time-calculator__container">
    <form class="time-calculator__form">
      <input
        class="time-calculator__input"
        type="text"
        pattern="^[ 0-9]+$"
        placeholder="Введіть число"
        title="Введіть число"
      />
      <button class="time-calculato__button">
        <svg class="time-calculato__button__icon" width="15" height="15">
          <use href="/img/icons/symbol-defs.svg#icon-loupe"></use>
        </svg>
      </button>
    </form>
    <div class="time-calculator__dot-line"></div>
    <div class="time-calculator__result-container">3 дн. 15:45:01</div>
  </div>
</section>
