<section class="time-calculator" data-category="numerical">
  <div class="line"></div>
  <h2 class="section__title">Калькулятор часу</h2>
  <div class="time-calculator__container">
    <form
      class="time-calculator__form"
      autocomplete="off"
      id="time-calculator-form"
    >
      <input
        class="time-calculator__input"
        type="text"
        name="usernumber"
        pattern="^[ 0-9]+$"
        placeholder="Введіть число"
        title="Введіть число"
      />
      <button class="time-calculato__button" id="button">
        <svg class="time-calculato__button__icon" width="15" height="15">
          <use href="/img/icons/symbol-defs.svg#icon-loupe"></use>
        </svg>
      </button>
    </form>
    <div class="time-calculator__dot-line"></div>
    <div class="time-calculator__result-container" id="result">
      0 дн. 00:00:00
    </div>
  </div>
</section>
