/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./base/reset.css');
@import url('./base/common.css');

@import url('./layout/header.css');
@import url('./layout/birth-year.css');
@import url('./layout/guess-number.css');
@import url('./layout/p-r-s.css');
@import url('./layout/calculator.css');
@import url('./layout/time-calculator.css');
@import url('./layout/dinosaur.css');
@import url('./layout/football.css');
@import url('./layout/three-numbers.css');
@import url('./layout/scientist.css');
@import url('./layout/footer.css');


:root {
  --primary-color: #FFF;
  --secondary-color: #000;

  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  color: var(--secondary-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.dark-theme {
  --primary-color: #000;
  --secondary-color: #FFF;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
  appearance: none;
}